li.main{
    display: inline;
    color: green;
}

body{
    background: rgb(128, 82, 13);
}

h1{
    font-size: xx-large;
    color: red;
}

a{
    
    padding: 6px;
    background-color: aqua;
    text-decoration: none;
}
